.forum-prompt-container {
  display: flex;
  justify-content: center;
}

.prompt {
  background-color: aliceblue;
  margin: 10px 0px;
  border-radius: 10px;
  text-decoration: none;
  width: 80%;
  font-size: 1vw;
}

.prompt > form {
  padding: 2%;
}

.prompt > form > textarea {
  width: 96%;
  font-size: 1vw;
  height: 9.6vw;
  line-height: 1.2vw;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  padding: 10px;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.4);
  margin: 10px 0px;
}

.prompt-button {
  background: white;
  border-radius: 10px;
  box-sizing: border-box;
  color: black;
  font-size: 1vw;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 0.5% 1%;
  margin: 0% 1%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: auto;
  border: 0;
}

.prompt > form > label {
  padding-right: 5px;
  font-size: 1.2vw;
}

.title-input {
  width: 30%;
  font-size: 1vw;
  margin: 4px 0px;
  padding: 3px 5px;
  border-radius: 10px;
}

.category-form {
  font-family: "Nunito Sans", sans-serif;
  width: 25%;
  background-color: white;
  font-size: 1vw;
  padding: 2px 5px;
  border-radius: 10px;
  margin: 5px 0px;
}
