.audio-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0%;
  padding: 0px 0px 20px;
}

.form-input1 {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 17px;
  font-weight: 400;
}

#error-display-doctor {
  color: red;
  margin-top: 20px;
}

.audio-inputs-special {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0%;
    padding: 0px 0px 20px;
    gap: 10px;
}
