.audio-inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0%;
    padding: 30px;
    gap: 10px;

}



.form-input1 {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 17px;
    font-weight: 400;
  }
  
