.commenting-box {
  border-style: solid;
  border-color: rgb(201, 76, 76);
  background-color: beige;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.comment-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 20px;
  font-size: 19px;
  margin-top: 10px;
}

.comment-content {
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 15px;
}

#text {
  word-break: break-all;
}

.comment-username {
  color: black;
}

.commenting-form {
  display: flex;
  justify-content: center;
}

.commenting-form > form {
  background-color: aliceblue;
  padding: 1vw 1vw;
  border-radius: 10px;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.4);
  margin: 15px 0px;
  width: 50%;
}

.commenting-form > form > textarea {
  width: 96%;
  font-size: .7vw;
  height: 120px;
  line-height: 15px;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  padding: 2%;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.commenting-form > form > label {
  font-size: .9vw;
}

.commenting-form > form > button {
  background: white;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 1% 1%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: auto;
  border: 0;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-right: 20px;
}

.commenting-form > form > label{
  padding-right: 10px;
}